mixed-port: ${MIXED_PORT}
mode: rule
log-level: info
ipv6: false
dns:
  enable: true
  listen: 127.0.0.1:${DNS_PORT}
  ipv6: false
  use-hosts: false
  use-system-hosts: false
  enhanced-mode: redir-host
  nameserver:
    - ${UPSTREAM_TRANSPORT}://127.0.0.1:${UPSTREAM_PORT}
rules:
  - MATCH,DIRECT
